body {
    font-family: 'Hack', monospace, sans-serif;
    margin: 0;
    color: #fff;
    text-align: center;
}

a {
    background-color: white;
}
.container {
    display: grid;
    max-width: 960px;
    grid-template-columns: repeat(auto-fill, 480px); /* auto wraps */
    justify-content: start; /* align to left edge */
}

.box {
    width: 480px;
    height: 480px;
    display: flex;
    flex-direction: column; /* <--- stack children vertically */
    align-items: center; /* optional: center horizontally */
    justify-content: center; /* optional: center vertically */
    font-size: 24px;
    color: white;
}

.bg-gradient {
    background: linear-gradient(135deg, #747474, #A2A2A2);
}

.bg-blue {
    background: lightblue;
}

.bg-green {
    background: seagreen;
}