body {
    font-family: 'Hack', monospace, sans-serif;
    margin: 0;
    text-align: center;
}
.index {
    background-image: url(images/bg/spacebg.gif);
    background-repeat: repeat;
    color: black;
}
@keyframes scroll-bg {
    0% { background-position: 0 0; }
    100% { background-position: -100% 100%; }
}
.landing {
    background-image: url(images/bg/bubblespurplebg.jpg);
    background-repeat: repeat;
    animation: scroll-bg 60s linear infinite;
    -webkit-animation: scroll-bg 60s linear infinite;
}

a {
    background-color: white;
}

.container {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, 504px); /* auto wraps */
    grid-template-columns: repeat(4, auto); /* 4 boxes per row */
    justify-content: center; /* align to left edge */
}

/* Box styles */
.box {
    width: 256px;
    height: 256px;
    padding: 20px; /* space for outline on hover */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    background-repeat: no-repeat;
    background-position: center;   /* center the image */
    background-size: 100% auto;    /* fit width, keep aspect ratio */
}
.buttonbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 0;
}
.buttonbox img {
    width: 88px;
    height: auto;
}
.topbox {
    width: 552px; /* full width minus padding */
    grid-column: 1 / -3; /* span full width of the grid */
    font-size: 40px;
}
.box[data-href]:hover {
    outline: 16px ridge rgba(255, 255, 255, 0.5);
    outline-offset: -16px; /* negative offset pushes it inward */
}
.link-text {
    background-color: white;
    color: black;       /* make sure it’s readable */
    border-radius: 4px; /* optional: rounded corners */
}
.centerbox {
    position: absolute; /* position it absolutely */
    top: 50%; /* move it down 50% of the viewport height */
    left: 50%; /* move it right 50% of the viewport width */
    transform: translate(-50%, -50%); /* center the box */
}

/* Background classes */
.bg-gradient {
    background: linear-gradient(115deg, #000000, #3d3d3d) !important;
}
.bg-black {
    background: black !important;
}
.bg-esther {
    /* background-image: url("images/esther480px.png") !important; */
}
.bg-elvengf {
    /* background-image: url("images/elvengf.png") !important; */
}

/* Transition class for smooth color changes */
.transition-bg {
    transition: background-color 0s ease;
}

/* Mobile override */
@media (max-width: 768px) {
    .container {
        display: grid;
        /* grid-template-columns: repeat(auto-fill, 504px); /* auto wraps */
        grid-template-columns: repeat(2, auto); /* 4 boxes per row */
        justify-content: left; /* align to left edge */
    }

    /* Box styles */
    .box {
        width: 40vw;
        height: 40vw;
        padding: 10px; /* space for outline on hover */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        color: white;
        background-repeat: no-repeat;
        background-position: center;   /* center the image */
        background-size: 100% auto;    /* fit width, keep aspect ratio */
    }
    .buttonbox {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 0;
    }
    .buttonbox img {
        width: 56px;
        height: auto;
    }
    .topbox {
        width: 40vw; /* full width minus padding */
        grid-column: 1 / 1; /* span full width of the grid */
        font-size: 15px;
    }
    .box[data-href]:hover {
        outline: 24px ridge rgba(255, 255, 255, 0.5);
        outline-offset: -24px; /* negative offset pushes it inward */
    }
    .link-text {
        background-color: white;
        color: black;       /* make sure it’s readable */
        border-radius: 4px; /* optional: rounded corners */
    }
    .centerbox {
        position: absolute; /* position it absolutely */
        top: 50%; /* move it down 50% of the viewport height */
        left: 50%; /* move it right 50% of the viewport width */
        transform: translate(-50%, -50%); /* center the box */
    }
}